:host {
    ion-content {
        --background: #fff;
        padding: 10px;
    }
    ion-list {
        padding: 0px;
        margin: 30px 0px;
        width: 100%;
        display: block;
        border: none;
    }
    ion-item {
        --border-color: transparent;
        --inner-padding-end: 17px;
        --padding-start: 20px;
        padding-top: 10px;
    }
    .header{
        position: relative;
    }
    .back-button.button {
        position: absolute;
        left: -8px;
        top: -8px;
    }
    .logo {
        display: inline-block;
        width: 30px;
        margin-right: 5px;
    }
    .btn {
        max-width: 130px;
        font-size: 13px;
        --background: #e01212 !important;
        color: #fff;
        text-transform: none !important;
    }
    .title {
        font-size: 19px;
        font-family: 'Lato-Bold';
        margin-top: 13px;
        display: block;
    }
    .content-block {
        padding: 15px;
    }
    .class-route-title {
        font-size: 19px;
        font-family: 'Lato-Bold';
    }
    .class-route-time {
        color: #e01212;
        font-size: 14px;
        font-family: 'Lato-Bold';
    }
    .filter-block {
        position: relative;
    }
    .filter-button {
        position: absolute;
        right: .0px;
        top: 17px;
        width: 40px;
    }
    .filter-img {
        width: 100%;
    }
    .location-img {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .helicopter-img {
        max-width: 45px;
        width: 100%;
    }
    .list-heading {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-family: 'Lato-Bold';
        color: #000;
    }
    .list-content {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-family: 'Lato-Bold';
        color: #989898;
        padding-left: 21px;
        padding-top: 6px;
    }
    .list-block {
        position: relative;
        margin: 0px;
        padding: 0px;
        display: block;
        border: none;
        height: 100px;
        padding-top: 10px;
    }
    .list-block::after {
        display: block;
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 103px;
        background-color: #000;
    }
    .list-block::before {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        left: 89px;
        background-image: url("../../../assets/images/details.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 111;
    }
    .list-content-box {
        padding-left: 60px;
    }
    .list-block:last-child {
        height: auto !important;
    }
    .list-block:last-child::after {
        display: none !important;
    }
    .forward-sine {
        display: inline-block;
        width: 11px;        
        margin: 0px 11px;
        vertical-align: middle;
    }

    .user-img {
        width: 50px !important;
        height: 50px !important;
        overflow: hidden;
        border-radius: 50% !important;
        border: 2px solid #000;
        max-width: 50px !important;
        background-color: transparent;
        position: relative;
    }
    .user-info {
        margin: 0px !important;
        padding: 0px !important;
        padding-left: 12px !important;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 20px !important;
    }
    .user_img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: block;
    }

    .user-info  .content{
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }
    .user-info-block {
        margin-bottom: 4px;
    }
    .status-box{
        text-align: right !important;
    }
   .status-box .font-bold {font-size: 19px;}

}