<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <ion-label class="logo-title">{{this.selRoute.RouteTitle}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="main-wrapper" no-padding>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-img src="../../../assets/images/route-detail.jpg"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="content-block">
        <ion-row no-padding>
            <ion-col size="7">
                <ion-label class="text-justify">{{selRoute.RouteDesc}}</ion-label>
            </ion-col>
            <ion-col size="5" class="status-box">
                <ion-label class="font-bold">Status : </ion-label>
                <ion-label *ngIf="selRoute.passenger_details.length==0" class="status">Assign</ion-label>
                <ion-label *ngIf="selRoute.passenger_details.length>0" class="status">{{selRoute.Status}}</ion-label>
            </ion-col>
        </ion-row>

        <!-- <ion-row  no-padding >
      <ion-col>
        <ion-label class="title">{{this.selRoute.RouteTitle}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row  no-padding  >
      <ion-col class="text-justify">
          {{this.selRoute.RouteDesc}}
      </ion-col>
    </ion-row> -->

        <ion-row no-padding class="filter-block">
            <ion-col size="12">
                <h4 class="class-route-title"> {{this.selRoute.RouteTitle}} flying points in route</h4>
                <ion-label class="class-route-time"> 6:00 AM to 6:00 PM (Monday to friday)</ion-label>
            </ion-col>
            <div class="filter-button">
                <ion-img class="filter-img" src="../../../assets/images/updown.png"></ion-img>
            </div>
        </ion-row>
    </ion-grid>

    <ion-list no-padding class="helicopter-list">
        <ion-item class="list-block" *ngFor="let route of selRoute.route_details">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col no-padding size="2" class="list-img">
                        <ion-img class="helicopter-img" src="../../../assets/images/helicopter2.png"></ion-img>
                    </ion-col>
                    <ion-col no-padding class="list-box">
                        <div class="list-content-box">
                            <h4 class="list-heading">
                                <ion-img class="location-img" src="../../../assets/images/locaton2.png"></ion-img>
                                {{this.route.PlaceName}}
                            </h4>
                            <h5 class="list-content">{{this.route.Lat}} N - {{this.route.Long}} E </h5>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

    <ion-list no-padding *ngIf="selRoute.passenger_details.length>0">
        <ion-list-header>
            <ion-label class="font-bold">Passanger Info</ion-label>
        </ion-list-header>


        <ion-item *ngFor="let pessanger of selRoute.passenger_details">
            <ion-grid no-padding>
                <ion-row class="user-info-block">
                    <ion-col class="user-img">
                        <img class="user_img" src="{{pessanger.UserPic}}" />
                    </ion-col>
                    <ion-col no-padding class="user-info">
                        <ion-grid no-padding>
                            <ion-row no-padding>
                                <ion-label class="list-heading">{{pessanger.firstname}} {{pessanger.lastname}}</ion-label>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col no-padding>
                                    <ion-label class="content">Mall of Asia</ion-label>
                                    <ion-img class="forward-sine" src="../../../assets/images/forward.png"></ion-img>
                                    <ion-label class="content">SM North Edsa</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>