:host {
    ion-content {
        --background: #ebebeb
    }
    .top {
        background: #010B17;
    }
    .title-box {
        margin: 0px !important;
        font-size: 17px;
        margin-top: 5px !important;
    }
    .header {
        position: relative;
    }
    .back-button.button {
        position: absolute;
        left: -8px;
        top: -8px;
    }
    ion-row {
        text-align: center;
        ion-col {
            .ion-img {
                height: 80px;
            }
            ion-label {
                color: white;
            }
        }
    }
    .p-rating-box {
        text-align: center !important;
        margin-top: 5px !important;
        margin-bottom: 10px !important;
    }
    .ion-img-l {
        width: auto !important;
        height: 30px !important;
    }
    .user-img-box {
        width: 92px !important;
        height: 92px !important;
        border: 2px solid #4c85ba;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #ffffff;
        overflow: hidden;
    }
    // .qr-img-box {
    //     width: 92px !important;
    //     height: 92px !important;
    //     border: 2px solid #4c85ba;
    //     border-radius: 50%;
    //     margin: 0 auto;
    //     background-color: #ffffff;
    //     overflow: hidden;
    // }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .grid-block {
        background: #FFF;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 0px 0px 2px 2px #ccc;
        padding: 15px;
    }
    .font-bold.tilte {
        font-size: 17px;
        margin-bottom: 15px;
        display: block;
    }
    .details {
        background: #FFF;
        margin: 10px;
        ion-row {
            text-align: center;
            ion-col {
                text-align: start;
                ion-img {
                    height: 80px;
                }
                ion-label {
                    color: #010B17;
                }
                .ion-label2 {
                    color: #a3a4a6;
                    margin-left: 10px;
                }
            }
        }
    }
    .details-2 {
        background: #FFF;
        margin: 10px;
        ion-row {
            ion-col {
                text-align: center;
                ion-img {
                    height: 200px !important;
                }
                ion-label {
                    color: #010B17;
                }
            }
        }
    }
    .pop-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7) !important;
        z-index: 1111;
    }
    .popup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .popup-box-close {
        color: #FFFFFF;
        font-size: 30px;
        width: 30px;
        float: right;
    }
    ion-card-content {
        background: #FFFFFF;
        height: auto;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 12px;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .logout-btn {
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 999;
    }
    .header-box {
        position: relative;
    }
}