<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <ion-label class="logo-title">My Profile</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="top">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-img class="user-img-box ion-img" src="{{this.user.user.UserPic}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-name">
            <ion-col no-padding>
                <ion-label>{{this.user.user.firstname}} {{this.user.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-mail">
            <!-- <ion-col  no-padding  >
                <star-rating [rating]="5"  checkedcolor="white" uncheckedcolor="white" size="30px"  
              readonly="true"> </star-rating>
            </ion-col> -->
            <ion-col *ngIf="this.user.user.Rattings == 0" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.user.user.Rattings == 1" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.user.user.Rattings == 2" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.user.user.Rattings == 3" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.user.user.Rattings == 4" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.user.user.Rattings == 5" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="details grid-block mt-20">
        <ion-row class="user-img-block">
            <ion-col size="4">
                <ion-label class="font-bold">First Name</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.firstname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-img-block">
            <ion-col size="4">
                <ion-label class="font-bold">Last Name</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Email</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.email}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Mobile No.</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.mobileno}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Pilot Licence</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="5.5">
                <ion-label class="ion-label2">{{this.user.user.PilotLicense}}</ion-label>
            </ion-col>
            <ion-col size="2" style="text-align: right;">
                <ion-img class="ion-img-l" src="../../../assets/images/contact-pre.png" (click)="showLicence()"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Helicopter </ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2" *ngIf="this.user.user.RideInfo != undefined" >{{this.user.user.RideInfo.HelicopterNo}}</ion-label>
                <ion-label class="ion-label2" *ngIf="this.user.user.RideInfo == undefined" >Not Assigned </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-grid class="details-2 grid-block mt-20">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-label class="font-bold tilte">Employee Check-in Code</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-img-block">
            <ion-col>
                <ion-img src="{{this.user.user.QRCode}}"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>


</ion-content>

<div *ngIf="showLicenceImg" class="pop-block">
    <div class="popup-box">
        <ion-label class="popup-box-close" (click)="showLicence()"> &times; </ion-label>
        <ion-img class="pop-img" src="{{this.user.user.PilotLicenseImage}}"></ion-img>
    </div>
</div>