:host {
    ion-content {
        --background: #EBEBEB;
        padding: 10px;
    }
    ion-title {
        color: white
    }
    ion-list {
        margin: 10px;
        background: #EBEBEB;
    }
    ion-card-content {
        height: auto;
        border-radius: 10px;
        background-color: white;
        margin: 15px 0px;
        display: block;
        padding: 15px;
        border: 1px solid #EBEBEB;
    }
    ion-col {
        margin: 0px;
        padding: 0px;
    }
    .header {
        position: relative;
    }
    .back-button.button {
        position: absolute;
        left: -8px;
        top: -8px;
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
    }
    .address-box {
        margin-top: 3px;
    }
    .address-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .address-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        font-size: 13px;
    }
    .status-box {
        text-align: right !important;
    }
    .status-box .font-bold {
        font-size: 19px;
    }
}