<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid no-padding class="header">
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <ion-label class="logo-title">My Rides</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list no-padding *ngIf="rideList?.length > 0">
        <ion-card-content *ngFor="let ride of rideList" no-padding (click)="rideClick(ride)">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="8">
                        <ion-label class="font-bold">{{ride.RouteTitle}}</ion-label>
                    </ion-col>
                    <ion-col align-self-end size="4">
                        <div class="date-block">
                            <ion-img class="address-date" src="../../../assets/images/Calendar.png"></ion-img>
                            <ion-label class="date-content">{{ride.CreatedOn.slice(0,10)}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <div class="address-box">
                            <ion-img class="address-icon" src="../../../assets/images/location.png"></ion-img>
                            <ion-label *ngIf="ride.route_details.length != 0 " class="address-content">{{ride.route_details[0].PlaceName}} >> {{ride.route_details[ride.route_details.length-1].PlaceName}} </ion-label>
                        </div>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 0" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 1" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 2" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 3" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 4" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star.png"></ion-img>
                    </ion-col>
                    <ion-col *ngIf="ride.Rattings == 5" size="4" class="p-rating-box">
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                        <ion-img class="p-rating" src="../../../assets/images/star-fil.png"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label class="address-content mt-3">Helicopter # {{ride.HelicopterNo}} </ion-label>
                    </ion-col>
                    <!-- <ion-col size="5" class="status-box">
                        <ion-label class="font-bold">Status : </ion-label> -->
                    <!-- <ion-label *ngIf="ride.passenger_details.length==0" class="status">Assign</ion-label> -->
                    <!-- <ion-label *ngIf="ride.passenger_details.length>0" class="status">{{ride.Status}}</ion-label> -->
                    <!-- <ion-label class="status">{{ride.Status}}</ion-label> -->
                    <!-- </ion-col> -->
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>
    <ion-card-content no-padding class="empty-list-box" *ngIf="rideList.length == 0">
        <ion-label class="empty-list">
            Ride History Not Available!
        </ion-label>
    </ion-card-content>
</ion-content>