<ion-menu side="start" menuId="first">
    <ion-header>
        <ion-item>
            <ion-grid>
                <ion-row class="user-info-block">
                    <ion-col class="user-img">
                        <img class="user_img" src="{{this.user.user.UserPic}}" />
                    </ion-col>
                    <ion-col class="user-info">
                        <ion-label class="menu-header-title">{{this.user.user.firstname}} {{this.user.user.lastname}}
                        </ion-label>
                        <ion-label class="menu-header">
                            <ion-icon class="icons-mail" name="mail"></ion-icon>{{this.user.user.email}}
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-header>
    <ion-content class="list-ion-content" no-padding>
        <ion-list no-padding class="list-block">
            <ion-item class="list-item" (click)="myProfile()">
                <ion-img class="menu-img" src="../../../assets/images/pro.png"></ion-img>
                <ion-label class="lbl-style">My Profile</ion-label>
                <ion-img class="img-icon" src="../../../assets/images/next.png"></ion-img>
            </ion-item>
            <!-- <ion-item class="list-item" (click)="overService()">
                <ion-img class="menu-img" src="../../assets/images/service.png"></ion-img>
                <ion-label class="lbl-style">Our Services</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item> -->
            <ion-item class="list-item" (click)="myRideHistory()">
                <ion-img class="menu-img" class="menu-img" src="../../../assets/images/ride.png"></ion-img>
                <ion-label class="lbl-style">My Rides</ion-label>
                <ion-img class="img-icon" src="../../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="scanCode()">
                <ion-img class="menu-img" class="menu-img" src="../../../assets/images/Scan2.png"></ion-img>
                <ion-label class="lbl-style">Scan Heli Code</ion-label>
                <ion-img class="img-icon" src="../../../assets/images/next.png"></ion-img>
            </ion-item>
            <!-- <ion-item class="list-item" (click)="myBookings()">
                <ion-img class="menu-img" src="../../assets/images/bookings.png"></ion-img>
                <ion-label class="lbl-style">My Bookings</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="bookPass()">
                <ion-img class="menu-img booking" src="../../assets/images/bookpass.png"></ion-img>
                <ion-label class="lbl-style">Book Pass </ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item> -->
        </ion-list>
    </ion-content>
    <ion-footer class="list-ion-footer" no-padding>
        <ion-item (click)="logout()" class="list-footer text-center">

            <ion-label class="lbl-style">
                <ion-img class="img-center" src="../../assets/images/logout.png"></ion-img>
                Logout
            </ion-label>

        </ion-item>
    </ion-footer>
</ion-menu>
<ion-router-outlet main>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <ion-grid no-padding class="header">
                    <ion-buttons (click)="openFirst()" class="back-button button" no-padding>
                        <img class="img" src="../../assets/images/menu.png" />
                    </ion-buttons>
                    <ion-row class="header-block">
                        <ion-col>
                            <div class="header-box text-center">
                                <ion-label class="logo-title">Dashboard</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list no-padding class="current-item mt-20">

            <ion-card-content class="scan-item" (click)="scanCode()">
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col size="2">
                            <ion-img class="scan-icon" src="../../../assets/images/scan.png"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-label>SCAN HELI CODE</ion-label>
                        </ion-col>
                        <ion-col size="2">
                            <ion-img class="scan-bk-arrow" src="../../../assets/images/Back.png"></ion-img>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-list>


        <ion-list no-padding class="current-item">
            <ion-list-header>
                <ion-label class="title mt-20 mb-20">Current Rides</ion-label>
            </ion-list-header>

            <ion-card-content class="mb-15" *ngFor="let route of today_ride_list" (click)="routeClick(route)">
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col size="7.5">
                            <ion-label class="title">{{route.RouteTitle}}</ion-label>
                        </ion-col>
                        <ion-col align-self-end size="4.5">
                            <div class="date-block">
                                <ion-img class="address-date" src="../../../assets/images/Calendar.png"></ion-img>
                                <ion-label class="date-content">{{route.CreatedOn.slice(0,10)}}</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="address-box">
                                <ion-img class="address-icon" src="../../../assets/images/location.png"></ion-img>
                                <ion-label *ngIf="route.route_details.length != 0 " class="address-content">{{route.route_details[0].PlaceName}} >> {{route.route_details[route.route_details?.length-1].PlaceName}} </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-list>

        <ion-list no-padding class="current-item">
            <ion-list-header>
                <ion-label class="title mt-20 mb-20">Upcoming Rides</ion-label>
            </ion-list-header>

            <ion-card-content class="mb-15" *ngFor="let route of routeList" (click)="routeClick(route)">
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col size="7.5">
                            <ion-label class="title">{{route.RouteTitle}}</ion-label>
                        </ion-col>
                        <ion-col align-self-end size="4.5">
                            <div class="date-block">
                                <ion-img class="address-date" src="../../../assets/images/Calendar.png"></ion-img>
                                <ion-label class="date-content">{{route.CreatedOn.slice(0,10)}}</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="address-box">
                                <ion-img class="address-icon" src="../../../assets/images/location.png"></ion-img>
                                <ion-label *ngIf="route.route_details.length != 0 " class="address-content">{{route.route_details[0].PlaceName}} >> {{route.route_details[route.route_details.length-1].PlaceName}} </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-list>
    </ion-content>
</ion-router-outlet>