:host {
    ion-content {
        --background: #EBEBEB;
        padding: 10px;
    }
    ion-list {
        padding: 0px 10px;
        height: 100%;
        background: #EBEBEB;
    }
    ion-router-outlet {
        padding-bottom: 0px !important
    }
    ion-card-content {
        background: #fff;
        height: auto;
        border-radius: 10px;
        color: #000;
        position: relative;
        box-shadow: 0px 0px 4px 0px #ccc;
    }
    .current-item {
        height: auto;
    }
    .scan-bk-arrow {
        width: 30px;
        height: auto;
    }
    .scan-icon {
        width: 50px;
        height: 50px;
    }
    .scan-item {
        ion-row {
            align-items: center;
        }
        ion-col {
            text-align: center;
        }
    }
    .title {
        font-size: 20px;
    }
    .img {
        width: 30px;
        height: auto;
    }
    .menu-img {
        width: 24px;
        height: auto;
    }
    // -------- Side menu
    .menu-header {
        color: #010B17
    }
    .back-button.button {
        position: absolute;
        left: 15px;
        top: 9px;
    }
    .list-ion-content {
        --background: #010B17;
        padding: 10px;
        --ion-color-light: #00000000;
        --ion-color-light-shade: #00000000;
        --ion-item-background: var(--ion-color-light);
        --ion-item-background-activated: var(--ion-color-light-shade);
    }
    .user-img {
        width: 70px !important;
        height: 70px !important;
        overflow: hidden;
        border-radius: 50% !important;
        border: 2px solid #939393;
        max-width: 70px !important;
        background-color: transparent;
        position: relative;
    }
    .user-info {
        margin: 0px !important;
        padding: 0px !important;
        padding-top: 10px !important;
        padding-left: 12px !important;
    }
    .user_img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: block;
    }
    .menu-header-title {
        color: #0d2261;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4px;
    }
    .menu-header {
        font-size: 16px;
    }
    .icons-mail {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        color: #939393 !important;
    }
    .user-info-block {
        margin: 0px !important;
        padding: 35px 0px 10px 0px!important;
    }
    .img-center {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    .inner-scroll.scroll-y {
        margin-bottom: 50px;
    }
    .list-ion-footer {
        --background: red;
        --ion-color-light: red;
        --ion-color-light-shade: red;
        --ion-item-background: var(--ion-color-light);
        --ion-item-background-activated: var(--ion-color-light-shade);
    }
    .lbl-style {
        padding: 5px;
        margin: 5px;
        color: white;
    }
    .logo {
        width: 30px;
        display: inline-block;
    }
    .logo-title {
        display: inline-block;
        vertical-align: bottom;
    }
    .header-block {
        padding-top: 3px !important;
    }
    .list-block {
        margin: 0px !important;
    }
    .list-item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #d4d4d4;
        margin-top: 12px;
    }
    .btn-danger {
        --background: #e01212 !important;
        color: #fff;
        padding: 0px;
        height: 33px;
        border-radius: 20px !important;
        overflow: hidden;
        margin-top: 4px;
        float: right;
        margin-right: 15px;
    }
    .img-icon {
        width: 7px;
        margin-top: 3px;
    }
    .list-block {
        background: #010B17;
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
    }
    .address-box {
        margin-top: 3px;
    }
    .address-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .address-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        font-size: 13px;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
}